<div style="margin-top: 30px">
    <h1 class="text-center mb-5"> {{title}}</h1>
</div>

<div class="input-group mb-5 ">
    
    <input type="text" class="form-control" placeholder="Search for a movie..." aria-label="Search for a movie...">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>

    <div class="dropdown show row justify-content-center ">
        <select class="btn btn-secondary dropdown-toggle ml-5" name="day" id="select" placeholder="Genre" >
                <option value="">Genre</option>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="comedy">Comedy</option>
                <option value="crime">Crime</option>
                <option value="drama">Drama</option>
                <option value="family">Family</option>
                <option value="fantasy">Fantasy</option>
                <option value="history">History</option>
                <option value="horror">Horror</option>
                <option value="mystery">Mystery</option>
                <option value="romance">Romance</option>
                <option value="scy-fi">Scy-Fi</option>
                <option value="sport">Sport</option>
                <option value="thriller">Thriller</option>
                <option value="war">War</option>
        </select>    
    </div>

</div>
</div>


<div id="movie-container">
    <div class="row align-items-start" id="movies"></div>
</div>